extends layout

block content
    section.page-not-found(style="padding-top: 180px; padding-bottom: 179px")
        div.container
            div.row
                div.col-md-12
                    h2 404
                    h3.capitalize Страница не найдена
                    a(href="/", class="btn btn-my btn-blue btn-effect mt20") Вернуться назад