extend layout

block content
    section.page-header
        div.container
            div.row
                div.col-md-12.col-sm-12.col-xs-12
                    h4 Коды ОКВЭД
    section.ptb30
        div.container
            div.col-md-12